<main>
    <h1>Some text</h1>
    <h2>Some text</h2>

    <div>
        {{#each burgers}} {{#unless this.devoured}}
        <div>
            <form action="/api/burgers/update/{{this.id}}" method="POST">
                {{this.burger_name}} <button type="submit" class="eachbgr"> Devour It </button>
            </form>
        </div>
        {{/unless}} {{/each}}
        <div>
            {{#each burgers}} {{#if this.devoured}}
            <div>
                <div>
                    {{this.burger_name}}
                </div>
            </div>
            {{/if}} {{/each}}
        </div>
    </div>
</main>

<div>
    <h2>Enter a Burger!</h2>
    <form action="/api/burgers" method="POST">
        <input type="text" id="name" name="burger_name" placeholder="">
        <button type="submit" class="addBurgerButton">Submit</button>
    </form>
</div>